.colorAyuda{
    background-color: map-get($mapa-colores , color-ayuda);
}
.letrasBlancas{
    color: map-get($mapa-colores , color-blanco) !important;
    &:hover{
        color: rgb(208, 208, 208) !important;
    }
}
.pagActiva{
    color: #66BAA8 !important;
    &:hover{
        color: #4D8075 !important;
    }
}
.sombraTexto{
    text-shadow: 0 0 15px black;
}
.tituloPag{
    color: map-get($mapa-colores , color-blanco) !important;
}
.contenidoPrincipal{ /* Color bg body */
    background-color: #FEF6FF;
}
.fondoTarjetas{
    background-color: #e7e5ec;
    border-radius: 5px;
}
.senialador{
    color: #860000 !important;
}
.linksRandoms{
    text-decoration: none;
    color: black;
    font-weight: 700;
    &:hover{
        color: rgb(160, 160, 160);
    }
}