.colorAyuda{
    background-color: map-get($mapa-colores , color-ayuda);
}
.letrasBlancas{
    color: map-get($mapa-colores , color-blanco) !important;
    &:hover{
        color: rgb(230, 230, 230) !important;
    }
}
.pagActiva{
    color: #5c91db !important;
    &:hover{
        color: #3e80dc !important;
    }
}
.contenidoPrincipal{ /* Color bg body */
    background-color: rgb(235, 235, 235);
}